*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/shelf
/captures
.externalNativeBuild
.cxx
local.properties
/keystore.properties
.kotlin

*.jks
*.keystore

.env
.env.*
!.env.example

local.properties

.gradle/
build/
*/build/

.idea/
*.iml

.DS_Store